attrs==22.2.0
certifi==2022.12.7
colorama==0.4.6
distlib==0.3.6
filelock==3.8.2
iniconfig==2.0.0
mysql-connector-python==8.0.32
packaging==23.0
pipenv==2022.11.30
platformdirs==2.6.0
pluggy==1.0.0
pytest==7.2.1
virtualenv==20.17.1
virtualenv-clone==0.5.7
